.container{
    background-color: rgb(202, 199, 199);
    width: 800px;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;

}
.rows{
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: 20px;
    padding: 20px;
}
.red{
    background-color: rgb(113, 14, 14);
    justify-content: space-evenly;
}
.green{
    background-color: rgb(6, 105, 6);
}
img{
    height: 200px;
}
p{
    text-align: center;
}